<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login_Do</servlet-name>
    <servlet-class>com.rdp.servlet.user.Login_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reg_Do</servlet-name>
    <servlet-class>com.rdp.servlet.user.Reg_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Add_Do</servlet-name>
    <servlet-class>com.rdp.servlet.table.Add_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Table_Do</servlet-name>
    <servlet-class>com.rdp.servlet.table.Table_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Update_Do</servlet-name>
    <servlet-class>com.rdp.servlet.table.Update_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Del_Do</servlet-name>
    <servlet-class>com.rdp.servlet.table.Del_Do</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Nodes_Do</servlet-name>
    <servlet-class>com.rdp.servlet.menu.Nodes_Do</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>com.rdp.servlet.user.UserManagement</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagement2</servlet-name>
    <servlet-class>com.rdp.servlet.user.UserManagement2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoleManagement</servlet-name>
    <servlet-class>com.rdp.servlet.auth.RoleManagement</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagement_rdp</servlet-name>
    <servlet-class>com.rdp.servlet.auth.UserManagement</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiateRoleNameServlet</servlet-name>
    <servlet-class>com.rdp.servlet.auth.ValiateRoleNameServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ModelManagement</servlet-name>
    <servlet-class>com.rdp.servlet.model.ModelManagement</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>FieldManagement</servlet-name>
    <servlet-class>com.rdp.servlet.model.FieldManagement</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dt</servlet-name>
    <servlet-class>com.rdp.servlet.dt.dt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Do</servlet-name>
    <url-pattern>/servlet/Login_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reg_Do</servlet-name>
    <url-pattern>/servlet/Reg_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Add_Do</servlet-name>
    <url-pattern>/servlet/Add_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Table_Do</servlet-name>
    <url-pattern>/servlet/Table_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update_Do</servlet-name>
    <url-pattern>/servlet/Update_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Del_Do</servlet-name>
    <url-pattern>/servlet/Del_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Nodes_Do</servlet-name>
    <url-pattern>/servlet/Nodes_Do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/servlet/user/UserManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagement2</servlet-name>
    <url-pattern>/servlet/user/UserManagement2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dt</servlet-name>
    <url-pattern>/servlet/dt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleManagement</servlet-name>
    <url-pattern>/servlet/auth/RoleManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagement_rdp</servlet-name>
    <url-pattern>/servlet/auth/UserManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiateRoleNameServlet</servlet-name>
    <url-pattern>/servlet/auth/ValiateRoleNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModelManagement</servlet-name>
    <url-pattern>/servlet/model/ModelManagement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FieldManagement</servlet-name>
    <url-pattern>/servlet/model/FieldManagement</url-pattern>
  </servlet-mapping> 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.rdp.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/test/Panel.jsp</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>ModelManagement</servlet-name>
    <url-pattern>/ModelManagement</url-pattern>
  </servlet-mapping>
</web-app>